@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.Extensions.Configuration
@using System.Globalization;
@inject IConfiguration Configuration
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    int ParentId = int.Parse(Context.Session.GetString("ParentId").ToString());
    string DomainFolderUpload = Context.Session.GetString("DomainFolderUpload").ToString();
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    List<SelectListItem> listLink = API.Areas.Admin.Models.Banners.BannersService.GetListItemsByCat(2, IdCoQuan, CultureInfo.CurrentCulture.Name.ToLower());
    List<API.Areas.Admin.Models.Videos.Videos> ListItemVideos = API.Areas.Admin.Models.Videos.VideosService.GetListFeatured(IdCoQuan, CultureInfo.CurrentCulture.Name.ToLower());

    List<API.Areas.Admin.Models.Articles.Articles> NotificationList = API.Areas.Admin.Models.Articles.ArticlesService.GetListNotification(IdCoQuan, CultureInfo.CurrentCulture.Name.ToLower());

    List<API.Areas.Admin.Models.Banners.Banners> ListBanners = API.Areas.Admin.Models.Banners.BannersService.GetList(IdCoQuan, ParentId, DomainFolderUpload, CultureInfo.CurrentCulture.Name.ToLower());
    DMCoQuan ItemCoQuan = JsonConvert.DeserializeObject<DMCoQuan>(Context.Session.GetString("ThongTinCoQuan"));
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome(ItemCoQuan,Context);
    List<API.Areas.Admin.Models.Menus.Menus> ListMenuDoc = API.Areas.Admin.Models.Menus.MenusService.GetListByParrent(0, IdCoQuan, 1, ParentId, CultureInfo.CurrentCulture.Name.ToLower());
    string linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainFolderUpload") + ".css";
    if (Context.Session.GetString("DomainCssName") != null && Context.Session.GetString("DomainCssName") != "")
    {
        linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainCssName") + "?v=" + DateTime.Now.ToString("yyyyMMddhh");
    }
    
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_PartialSEO", ItemConfig)
    <link rel="stylesheet" href="~/fonts/fonts.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="@linkCss" />
    <link rel="stylesheet" href="~/css/@(ItemCoQuan.FolderUpload+".css")" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>   
    <script>
        window.Site = {
            CODE: "@ItemCoQuan.Code",           
        }
    </script>
    @Html.Raw(ItemCoQuan.DataHeader)
</head>
<body id="main-one">
    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialHeaderTop" />
    <section id="section-slideshow">
       @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialSlideshows", new API.Areas.Admin.Models.Banners.BannersModel() { ListItems = ListBanners })
    </section>
    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialMenu" />
    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialCatMobile" />

    <div class="container-wapper" id="wapper_@ControllerName@ActionName">
        
        <div class="container-page bg-white">
            @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialKhauHieu", ItemConfig)
            @RenderBody()
        </div>

    </div>

    @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialFooter", ItemConfig)

    <script src="~/lib/js/bootstrap.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/popper.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/stellarnav/js/stellarnav.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/jquery.easing.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/jquery.marquee.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/js/site.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["RecaptchaSettings:SiteKey"]"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <script>

        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["RecaptchaSettings:SiteKey"]', { action: 'submit' }).then(function (token) {
                $("#token_recaptcha").val(token);
            });
        });

    </script>

    <script>
        jQuery('.stellarnav').stellarNav({

            breakpoint: 991,
            position: 'right',
            phoneBtn: '@ItemCoQuan.Telephone',
            closeLabel: 'Đóng'
        });

        $('#RedirectLink').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });
        $('#RedirectLinkXa').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });

        $('.marquee').marquee({
            speed: 100,
            gap: 500,
            direction: 'left',
            duplicated: true,
            pauseOnHover: true
        });
        $('#marquee_document_right').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });

        $(document).ready(function () {
            // Font zoom functionality
            var currentZoomLevel = 0; // -2, -1, 0, 1, 2
            var zoomStep = 2; // px increase/decrease per level
            
            // Các selector cho nội dung text
            var contentSelectors = [
                '.card-body', '.notification-text', '.main-title', '.sub-title',
                'p', '.news-layout-modern', '.main-article-content', '.sub-article-content',
                '.notification-item', '.leftmenu-list-group', '.category-list',
                'h1, h2, h3, h4, h5, h6', '.article-title', '.article-content',
                '.main-summary', '.notification-content', 'li', 'a', 'span:not(.fa):not(.fas)',
                '.card-header h3', '.panel-title', '.footer-about', '.footer-contact'
            ].join(', ');
            
            $('#incfont').click(function () {
                if (currentZoomLevel < 2) {
                    currentZoomLevel++;
                    $(contentSelectors).each(function() {
                        var currentSize = parseInt($(this).css('font-size')) || 14;
                        $(this).css('font-size', (currentSize + zoomStep) + 'px');
                    });
                    console.log('Increased font level: ' + currentZoomLevel);
                }
                return false;
            });
            
            $('#decfont').click(function () {
                if (currentZoomLevel > -2) {
                    currentZoomLevel--;
                    $(contentSelectors).each(function() {
                        var currentSize = parseInt($(this).css('font-size')) || 14;
                        if (currentSize > 10) { // Không cho phép nhỏ hơn 10px
                            $(this).css('font-size', (currentSize - zoomStep) + 'px');
                        }
                    });
                    console.log('Decreased font level: ' + currentZoomLevel);
                }
                return false;
            });
        });

        function SubmitSearch() {
            $('form#search-top').submit();
        }

        jQuery(document).ready(function () {
            jQuery('#scrollToTop').fadeOut();
            jQuery(window).scroll(function () {
                if (jQuery(window).scrollTop() != 0) {
                    jQuery('#scrollToTop').fadeIn();
                } else {
                    jQuery('#scrollToTop').fadeOut();
                }
            });
            jQuery('#scrollToTop').click(function () {
                jQuery('html, body').animate({ scrollTop: 0 }, 500);
            });
        });


        $("#body-scroll-nav").mCustomScrollbar({
            axis: "x",
            setWidth: false,
            alwaysShowScrollbar: 2,
            theme: 'dark-3'

        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
