@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    DMCoQuan ItemCoQuan = JsonConvert.DeserializeObject<DMCoQuan>(Context.Session.GetString("ThongTinCoQuan"));
    string SearchKey = "";
    if (this.ViewContext.HttpContext.Request.Query["keyword"].ToString() != "" && ControllerName.ToLower() == "home" && ActionName.ToLower() == "search")
    {
        SearchKey = this.ViewContext.HttpContext.Request.Query["keyword"].ToString();
    }
}
<div class="container topbar">
    <div class="row">
        <div class="col-lg-4 col-sm-4 d-none d-sm-block">
            <span class="current-date">@API.Models.MyHelper.StringHelper.DayweekVN(DateTime.Now), ngày @DateTime.Now.ToString("dd") tháng @DateTime.Now.ToString("MM") năm @DateTime.Now.ToString("yyyy")</span>
        </div>
        <div class="col-lg-8 col-xs-12 ">

            <div class="nav-scroller ">
                <form class="form-inline float-right" id="search-top" action="/Home/Search">
                    <input type="text" placeholder="Tìm Kiếm" asp-for="@SearchKey" aria-label="Tìm Kiếm" name="keyword">
                    <button type="button" onclick="SubmitSearch()">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <nav class="nav nav-underline float-right">
                    <a class="nav-link p-0 m-0 mr-2" href="lien-he.html"><i class="fas fa-envelope"></i> <span class="d-none d-sm-block float-right ml-2">Liên Hệ</span></a>
                    <a class="nav-link p-0 m-0 mr-2" href="/rss"><i class="fas fa-rss-square"></i> <span class="d-none d-sm-block float-right ml-2">Rss</span></a>
                    @if (ItemCoQuan.MetadataCV.flagShareApi == 1)
                    {
                        <a class="nav-link p-0 m-0 mr-2" href="/api"><i class="fas fa-code"></i> <span class="d-none d-sm-block float-right ml-2"></span></a>
                    }
                </nav>

            </div>
        </div>
    </div>
</div>