@model API.Areas.Admin.Models.CategoriesArticles.CategoriesArticlesModel
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Layout = "Templates/" + Context.Session.GetString("TemplateName") + "/_LayoutNone";    
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

    ViewData["Title"] = "RSS " + " - " + ItemCoQuan.Title;

}

<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row page-rss">
    <div class="col-12">
        <strong class="sub-title-page">Khái niệm RSS</strong>
        <p>RSS ( viết tắt từ Really Simple Syndication ) là một tiêu chuẩn định dạng tài liệu dựa trên XML nhằm giúp người sử dụng dễ dàng cập nhật và tra cứu thông tin một cách nhanh chóng và thuận tiện nhất bằng cách tóm lược thông tin vào trong một đoạn dữ liệu ngắn gọn, hợp chuẩn.</p>
        <strong class="sub-title-page">Kênh do @ItemCoQuan.Title cung cấp</strong>

        <div class="wrap-list-rss">
            <div class="row list-rss">
                <div class="col-12 col-md-6 rss-item"><a title="Tin nổi bật" asp-controller="rss" asp-action="Featured">Tin nổi bật <span class="icon-rss">RSS <i class="fas fa-rss-square"></i></span></a></div>
                <div class="col-12 col-md-6 rss-item"><a title="Thông báo" asp-controller="rss" asp-action="Notification">Thông báo <span class="icon-rss">RSS <i class="fas fa-rss-square"></i></span></a></div>

                @if(Model.ListItems!=null && Model.ListItems.Count() > 0)
                {
                    for(int i = 0; i < Model.ListItems.Count(); i++)
                    {
                        <div class="col-12 col-md-6 rss-item"><a title="@Model.ListItems[i].TitleRoot" asp-controller="rss" asp-action="GetByCat" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].TitleRoot <span class="icon-rss">RSS <i class="fas fa-rss-square"></i></span></a></div>
                    }
                }
                
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="~/css/rss.css" />