@model API.Areas.Admin.Models.Articles.ArticlesModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.USUsers;
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Bài viết";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Bài viết";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string Link = "/" + Model.Item.Alias + "-" + Model.Item.Id + ".html";
    string Link_EN = "/" + Model.Item.Alias_EN + "-" + Model.Item.Id + ".html";
    string Str_Url = "/Admin/Articles/Index" + Context.Session.GetString("STR_Action_Link_" + ControllerName + "_" + Context.Request.Headers["UserName"]);
    int IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));

    USUsers ItemUSUsers = JsonConvert.DeserializeObject<USUsers>(Context.Session.GetString("Login"));
   
    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);
    string version = DateTime.Now.ToString("yyyyMMddhh");
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css@("?v="+version )" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" enctype="multipart/form-data" asp-action="SaveItem" method="post" id="Myform">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="article-vi-tab" data-toggle="tab" href="#article-vi" role="tab" aria-controls="article-vi" aria-selected="true">Tiếng Việt</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="article-en-tab" data-toggle="tab" href="#article-en" role="tab" aria-controls="article-en" aria-selected="false">English</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="article-vi" role="tabpanel" aria-labelledby="article-vi-tab">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Item.Title">Tên, Tiêu đề bài viết <sup class="text-danger"> (*)</sup></label>
                                <input type="text" name="Title" class="form-control Changetitle namepr" asp-for="Item.Title">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Item.Alias" class="control-label"></label>
                                <input asp-for="Item.Alias" name="Alias" class="form-control slug" />
                                <span asp-validation-for="Item.Alias" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.CatId">Danh mục <sup class="text-danger"> (*)</sup></label>
                                <select asp-for="Item.CatId" name="CatId" class="form-control" asp-items="Model.ListItemsDanhMuc"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Ngày Đăng <sup class="text-danger"> (*)</sup></label>
                                <div class="input-group date" id="PublishUpShow" data-target-input="nearest">
                                    <input type="text" asp-for="Item.PublishUpShow" name="PublishUpShow" class="form-control datetimepicker-input" data-target="#PublishUpShow" id="PublishUpShow" />
                                    <div class="input-group-append" data-target="#PublishUpShow" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (IdCoQuan != 6 && IdCoQuan != 7)
                        {
                            @if (ItemCoQuan.MetadataCV.FlagAuthorText == 1)
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Item.Author">Tác Giả</label>
                                        <input type="text" name="Author" class="form-control" asp-for="Item.Author">
                                    </div>
                                </div>

                            }
                            else if (ItemCoQuan.MetadataCV.FlagAuthorText == 2)
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Item.Author">Tác Giả (Viết Tên)</label>
                                        <input type="text" name="Author" class="form-control" asp-for="Item.Author">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Item.AuthorId">Tác Giả</label>
                                        <select asp-for="Item.AuthorId" name="AuthorId" class="form-control" asp-items="Model.ListItemsAuthors"></select>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Item.AuthorId">Tác Giả</label>
                                        <select asp-for="Item.AuthorId" name="AuthorId" class="form-control" asp-items="Model.ListItemsAuthors"></select>
                                    </div>
                                </div>

                            }

                        }

                        @if (IdCoQuan == 6 || IdCoQuan == 7)
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Item.Author">Tác Giả</label>
                                    <input type="text" name="Author" class="form-control" asp-for="Item.Author">
                                </div>
                            </div>
                        }
                

                
                    </div>
                    <div class="row">
                        <div class="col-md-5">                    
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                                    <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                                </div>

                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input asp-for="Item.Featured" name="Featured" class="custom-control-input" />
                                    <label class="custom-control-label" asp-for="Item.Featured"> Nổi Bật</label>
                                </div>
                                @if (ItemCoQuan.MetadataCV.FlagFeaturedHome.ToString() == "1")
                                {
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input asp-for="Item.FeaturedHome" name="FeaturedHome" class="custom-control-input" />
                                        <label class="custom-control-label" asp-for="Item.FeaturedHome"> Thông báo</label>
                                    </div>
                                }
                                else
                                {
                                    <input asp-for="Item.FeaturedHome" type="hidden" name="FeaturedHome" class="custom-control-input" />
                                }
                                
                                @if (ItemCoQuan.MetadataCV.FlagComment.ToString() == "1")
                                {
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input asp-for="Item.Comment" name="Comment" class="custom-control-input" />
                                        <label class="custom-control-label" asp-for="Item.Comment">Bình Luận</label>
                                    </div>
                                }
                                else
                                {
                                     <input asp-for="Item.Comment" name="Comment" type="hidden" class="custom-control-input" />
                                }
                            </div>

                        </div>
                        @if (ItemCoQuan.MetadataCV.flagArticleMoney == 1)
                        {
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Item.Money">Số Tiền</label>
                                    <input type="number" name="Money" class="form-control" asp-for="Item.Money">
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" name="Money" class="form-control" asp-for="Item.Money">
                        }
                        @if (ItemCoQuan.MetadataCV.flagArticleQuantityImage == 1)
                        {
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Item.QuantityImage">Số Ảnh</label>
                                    <input type="number" name="QuantityImage" class="form-control" asp-for="Item.QuantityImage">
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" name="QuantityImage" class="form-control" asp-for="Item.QuantityImage">
                        }

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Item.CategoryTypeId">Loại Bài Viết</label>
                                <select asp-for="Item.CategoryTypeId" name="CategoryTypeId" class="form-control" asp-items="Model.ListCategoryType"></select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group images-main">
                                <label>Hình đại diện</label>
                                <img src="@Model.Item.Images" class="Item_Images_Article_Preview" style="max-height:200px;">
                                <input type="hidden" name="Images" id="Item_Images_Article" class="form-control" asp-for="Item.Images">
                                <a onclick="ShowManagerFile('Item_Images_Article',2)" class="btn btn-primary text-white"><i class="far fa-image"></i> Chọn hình (510px*330px)</a>
                                <a onclick="ViewImageArtile('Item_Images_Article',2)" class="text-white"> <i class="fas fa-eye"></i> Xem ảnh</a>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group images-main item_fileitem_content">
                                <label>File âm thanh:</label>                                                        
                                <a onclick="ShowManagerFile('Item_FileItem_Article',2)" class="btn btn-primary text-white"><i class="fas fa-file-audio"></i> Chọn File  (Chỉ hỗ trợ file Mp3, Wav):</a>                        
                                <input type="text" name="FileItem" id="Item_FileItem_Article" class="form-control fileitem_input" asp-for="Item.FileItem">
                                <a class="Item_FileItem" id="Item_FileItem_Article_Show">@Model.Item.FileItem</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Item.IntroText">Mô tả</label>
                                <textarea asp-for="Item.IntroText" name="IntroText" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.FullText">Nội dung bài viết</label>
                        <textarea asp-for="Item.FullText" id="full-textarea" name="FullText" class="form-control full-textarea"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">File Đính kèm</legend>
                                <div class="file-list">

                                    @if (Model.Item.ListFile != null && Model.Item.ListFile.Count() > 0)
                                    {
                                        <input type="hidden" id="maxfile" value="@(Model.Item.ListFile.Count() - 1)">
                                        for (int j = 0; j < Model.Item.ListFile.Count(); j++)
                                        {
                                            <div class="file-item">
                                                <a onclick="ShowManagerFile('FileName_@j','all')" class="btn btn-primary">Chọn File</a>
                                                <input type="text" asp-for="@Model.Item.ListFile[j].FilePath" name="ListFile[@j].FilePath" class="FileName" id="FileName_@j">
                                                <span class="text-danger xoafile">Xóa</span>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <input type="hidden" id="maxfile" value="-1">
                                    }
                                </div>
                                <p style="margin:10px 5px; cursor:pointer" class="text-primary" onclick="ThemFile()">
                                    <i class="fa fa-plus-square"></i> Thêm file
                                </p>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label"><strong>Nguồn Tin</strong></label>
                                <input type="text" name="LinkRoot" class="form-control" asp-for="Item.LinkRoot">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Link Tin liên quan</legend>
                                <div class="link-article-list"></div>
                                <p style="margin:10px 5px; cursor:pointer" class="text-primary" onclick="AddLinkArticle()">
                                    <i class="fa fa-plus-square"></i> Thêm Link Liên Quan
                                </p>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaTitle">Meta Title</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaTitle" name="MetadataCV.MetaTitle">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaH1">Meta H1</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH1" name="MetadataCV.MetaH1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaH3">Meta H3</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH3" name="MetadataCV.MetaH3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metadesc" class="control-label"></label>
                                <textarea asp-for="Item.Metadesc" name="Metadesc" class="form-control"></textarea>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metakey" class="control-label"></label>
                                <textarea asp-for="Item.Metakey" name="Metakey" class="form-control"></textarea>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label">Link Tin tức</label>
                                <input readonly class="form-control" value="@Link" />
                            </div>
                        </div>
                    </div>
            </div><!--End VI-->

            <!--Start EN-->
            <div class="tab-pane fade" id="article-en" role="tabpanel" aria-labelledby="article-en-tab">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Item.Title_EN">Title <sup class="text-danger"> (*)</sup></label>
                                <input type="text" name="Title_EN" class="form-control Changetitle namepr" asp-for="Item.Title_EN">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Link</label>
                                <input readonly class="form-control" value="@Link_EN" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Item.IntroText_EN">Introtext</label>
                                <textarea asp-for="Item.IntroText_EN" name="IntroText_EN" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="Item.FullText_EN">Full Text</label>
                                <textarea asp-for="Item.FullText_EN" id="full-textarea-en" name="FullText_EN" class="form-control full-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV_EN.MetaTitle">Meta Title</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV_EN.MetaTitle" name="MetadataCV_EN.MetaTitle">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV_EN.MetaH1">Meta H1</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV_EN.MetaH1" name="MetadataCV_EN.MetaH1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV_EN.MetaH3">Meta H3</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV_EN.MetaH3" name="MetadataCV_EN.MetaH3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metadesc_EN" class="control-label">Metadesc</label>
                                <textarea asp-for="Item.Metadesc_EN" name="Metadesc_EN" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metakey_EN" class="control-label">Metakey</label>
                                <textarea asp-for="Item.Metakey_EN" name="Metakey_EN" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            <!--End EN-->





        </div>
            <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                <i class="fas fa-save"></i> Lưu lại
            </button>
            @if (ItemUSUsers.IdGroup != 3)
            {
                <a style="color:#fff;" class="btn btn-primary" onclick="SaveItemStatus()" id="SaveItemStatus">
                    <i class="fas fa-check-double"></i> Lưu & Duyệt Bài
                </a>
                <a style="color:#fff;" class="btn btn-primary" onclick="SaveItemFeatured()" id="SaveItemFeatured">
                    <i class="fas fa-star"></i> Lưu & Nổi bật
                </a>
            }
           
            <a class="btn btn-danger" href="@Str_Url"><i class="fas fa-backward"></i> Hủy</a>
            <input type="hidden" name="Id" class="form-control" asp-for="Item.Id">
            <input type="hidden" name="Ids" class="form-control" asp-for="Item.Ids">
            
            <input type="hidden" name="PublishUp" class="form-control" asp-for="Item.PublishUp">

        </form>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ArticleShowImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gridModalLabel">Ản đại diện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" id="ArticleShowImagePath" src="" />
            </div>

        </div>
    </div>
</div>
<partial name="_PartialTinymce" />
@section Scripts{

    <script src='~/lib/tinymce/tinymce.min.js@("?v="+version )' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js@("?v="+version )' referrerpolicy="origin"></script>
    <script src="~/lib/js/moment.js@("?v="+version )"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js@("?v="+version )"></script>
    <script type="text/javascript" src="~/TemplatesAdmin/Default/js/admin-article-saveitem.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>

    <script type="text/javascript">
            var str_link = '@Html.Raw(Model.Item.Str_Link)';
            var ListLinkArticle = null;



            $(document).ready(function () {
                if (str_link != null && str_link != '') {
                    ListLinkArticle = JSON.parse(str_link);
                    BuildHtmlLinkArticle();
                } else {
                    ListLinkArticle = [];
                }

            });

            $(function () {

                $('#PublishUpShow').datetimepicker({
                    format: 'DD/MM/YYYY',
                });
            });
            function SaveItemFeatured() {
                $('#Item_Featured').attr('checked', 'checked');
                $( "#Myform" ).submit();
            }

            function SaveItemStatus() {
                $('#Item_Status').attr('checked', 'checked');
                $( "#Myform" ).submit();
            }


        function ViewImageArtile(id) {                
            $('#ArticleShowImagePath').attr("src", "/images/no-image.png");
            $('#ArticleShowImage').modal('show');              
            $('#ArticleShowImagePath').attr("src", $('#' + id).val());
        }


            function ThemFile() {
                var max = parseInt($("#maxfile").val()) + 1;
                /**/
                $(".file-list").append('<div class="file-item"><a onclick="ShowManagerFile(\'FileName_' + max + '\')" type="button" class="btn btn-primary">Chọn File</a><input type="text" name="ListFile[' + max + '].FilePath" class="FileName" id="FileName_' + max + '">  <span class="text-danger xoafile">Xóa</span></div>');
                /**/
                $("#maxfile").val(max);
            }

            $('.file-list').on('click', '.file-item .xoafile', function (event) {

                $(this).parent().find(".lblFileName").empty();
                $(this).parent().find(".FileName").val("");
            })

            function AddLinkArticle() {
                console.log(ListLinkArticle);
                var Item = { Title: '', Link: '', Status: true };
                if (ListLinkArticle == null) {
                    ListLinkArticle = [];
                }
                ListLinkArticle.push(Item);
                BuildHtmlLinkArticle();

            }
            function DeleteLinkArticle(i) {
                ListLinkArticle[i].Status = false;
                BuildHtmlLinkArticle();
            }
            function BuildHtmlLinkArticle() {
                if (ListLinkArticle != null && ListLinkArticle.length > 0) {
                    $(".link-article-list").html('');
                    for (var i = 0; i < ListLinkArticle.length; i++) {
                        if (ListLinkArticle[i].Status) {
                            str = '<div class="link-article-item"><div class="row">';
                            str = str + '<div class="col-lg-3"><input onchange="UpdateDataLinkArticle(' + i + ',1,event)" name="ListLinkArticle[' + i + '].Title" class="form-control" placeholder="Tiêu Đề" value="'+ListLinkArticle[i].Title+'" /></div>';
                            str = str + '<div class="col-lg-3"><input onchange="UpdateDataLinkArticle(' + i + ',2,event)" name="ListLinkArticle[' + i + '].Link"  class="form-control" placeholder="Link" value="'+ListLinkArticle[i].Link+'"/></div>';
                            str = str + '<div class="col-lg-2"><span class="btn btn-danger" onclick="DeleteLinkArticle(' + i + ')">Xóa</span></div>';
                            str = str + '<input type="hidden" name="ListLinkArticle[' + i + '].Status" value="'+ListLinkArticle[i].Status+'"/></div></div>';
                            $(".link-article-list").append(str);
                        }
                    }
                }
           }
            function UpdateDataLinkArticle(i, n, event) {
                console.log(event.target.value);
                if (n == 1) {// Title
                    ListLinkArticle[i].Title = event.target.value;
                } else if (n == 2) {
                    ListLinkArticle[i].Link = event.target.value;
                }
            }
    </script>
}

<style>
    .link-article-item {
        margin-top: 10px;
    }
</style>