@model API.Areas.Admin.Models.Articles.ArticlesModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@{
    ViewData["Title"] = Model.Categories.Title;
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }

    ViewData["Title"] = (Model.Categories.Title);
    ViewData["Description"] = (Model.Categories.Metadesc);
    ViewData["Keywords"] = (Model.Categories.Metakey);
    ViewData["Url"] = Domain+"/"+"categories/" + Model.Categories.Alias+"-"+Model.Categories.Id.ToString()+".html";
    ViewData["Images"] = Domain + Model.Categories.Images;
    
}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Localizer["Home"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@(Model.Categories.Title)</li>
            </ol>
        </nav>        
    </div>
</div>

<div class="row categoryList">
    @if (Model.ListItems == null || Model.ListItems.Count() == 0)
    {
        <div class="col-lg-12">
            <p class="text-center">@Localizer["NoRecord"] </p>
        </div>

    }
    else
    {
        @if (Configuration["Security:SiteCode"] == "KTTT")
        {
            <div class="col-12">
                <div class="article-item-cat">
                    <a class="img" asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[0].Id" asp-route-alias="@Model.ListItems[0].Alias">
                        @if (Model.ListItems[0].Images == null || @Model.ListItems[0].Images == "" || Model.ListItems[0].Images.ToLower() == "/cms/content/tintuc/")
                        {
                            <img src="/images/no-image.png" class="img-responsive">
                        }
                        else
                        {

                            <img class="img-responsive mr-3 img-fluid " src="@Model.ListItems[0].Images" alt="@Model.ListItems[0].Title">
                        }

                    </a>

                    <div class="content">
                        <h4><a class="title" asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[0].Id" asp-route-alias="@Model.ListItems[0].Alias">@Model.ListItems[0].Title</a></h4>
                        <h4>
                            <span>(@Model.ListItems[0].PublishUpShow)</span>
                        </h4>

                        <div class="text-justify">@Html.Raw(API.Models.MyHelper.StringHelper.StringReadmore(Model.ListItems[0].IntroText, 600))</div>
                    </div>
                </div>
            </div>
            for (int i = 1; i < Model.ListItems.Count(); i++)
            {
                <div class="col-12">
                    <div class="first-article-item mb-2 h-100">
                        <a class="d-flex" asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias" title="@Model.ListItems[i].Title">
                            <div class="img">
                                @if (@Model.ListItems[i].Images == null || @Model.ListItems[i].Images == "" || @Model.ListItems[i].Images.ToLower() == "/cms/content/tintuc/")
                                {
                                    <img src="~/images/no-image.png" class="w-100">
                                }
                                else
                                {
                                    <img src="@Model.ListItems[i].Images" class="w-100">
                                }
                            </div>

                            <div class="first-article-body">
                                <p class="m-0 mb-1 title truncate-title">
                                    @Model.ListItems[i].Title
                                </p>
                                <p class="m-0 mb-1 publish truncate-title">
                                    @Model.ListItems[i].PublishUpShow
                                </p>
                                <p class="m-0 cat-desc truncate-content">
                                    @API.Models.MyHelper.StringHelper.StringReadmore(@Model.ListItems[i].IntroText, 200)
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            for (int i = 0; i < Model.ListItems.Count(); i++)
            {

                <div class="col-md-12 col-sm-12 col-xs-12 ">

                    <div class="article-item">
                        <a class="img mr-3" asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                            @if (Model.ListItems[i].Images == null || @Model.ListItems[i].Images == "" || Model.ListItems[i].Images.ToLower() == "/cms/content/tintuc/")
                            {
                                <img src="/images/no-image.png" class="img-responsive">
                            }
                            else
                            {

                                <img class="img-responsive mr-3 img-fluid " src="@Model.ListItems[i].Images" alt="@Model.ListItems[i].Title">
                            }

                        </a>
                        <h4>
                            <a asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a>
                            <span>(@Model.ListItems[i].PublishUpShow)</span>
                        </h4>

                        <div class="text-justify">@Html.Raw(API.Models.MyHelper.StringHelper.StringReadmore(Model.ListItems[i].IntroText, 600))</div>
                    </div>
                </div>
            }
        }
    }
</div>
<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_PartialPagination", Model.Pagination)
    </div>

</div>
