@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    int ParentId = int.Parse(Context.Session.GetString("ParentId").ToString());
    string DomainFolderUpload = Context.Session.GetString("DomainFolderUpload").ToString();
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    List<SelectListItem> listLink = API.Areas.Admin.Models.Banners.BannersService.GetListItemsByCat(2, IdCoQuan);
    List<API.Areas.Admin.Models.Videos.Videos> ListItemVideos = API.Areas.Admin.Models.Videos.VideosService.GetListFeatured(IdCoQuan);

    List<API.Areas.Admin.Models.Articles.Articles> NotificationList = API.Areas.Admin.Models.Articles.ArticlesService.GetListNotification(IdCoQuan);

    List<API.Areas.Admin.Models.Banners.Banners> ListBanners = API.Areas.Admin.Models.Banners.BannersService.GetList(IdCoQuan, ParentId, DomainFolderUpload);
    DMCoQuan ItemCoQuan = JsonConvert.DeserializeObject<DMCoQuan>(Context.Session.GetString("ThongTinCoQuan"));
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome(ItemCoQuan,Context);
    List<API.Areas.Admin.Models.Menus.Menus> ListMenuDoc = API.Areas.Admin.Models.Menus.MenusService.GetListByParrent(0, IdCoQuan, 1, ParentId);
    string linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainFolderUpload") + ".css";
    if (Context.Session.GetString("DomainCssName") != null && Context.Session.GetString("DomainCssName") != "")
    {
        linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainCssName") + "?v=" + DateTime.Now.ToString("yyyyMMddhh");
    }
    
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_PartialSEO", ItemConfig)
    <link rel="stylesheet" href="~/fonts/fonts.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="@linkCss" />
    <link rel="stylesheet" href="~/css/@(ItemCoQuan.FolderUpload+".css")" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>   
    <script>
        window.Site = {
            CODE: "@ItemCoQuan.Code",           
        }
    </script>
    @Html.Raw(ItemCoQuan.DataHeader)
</head>
<body id="main-one">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                    <span class="current-date">@API.Models.MyHelper.StringHelper.DayweekVN(DateTime.Now) , Ngày @DateTime.Now.ToString("dd") Tháng @DateTime.Now.ToString("MM") Năm @DateTime.Now.ToString("yyyy")</span>
                </div>
                <div class="col-lg-8 col-12 ">

                    <div class="nav-scroller bg-white shadow-sm">
                        <form class="form-inline float-right" id="search-top" action="/Home/Search">
                            <span class="line-left hidden-xs"></span>
                            <input type="text" placeholder="Tìm Kiếm" aria-label="Tìm Kiếm" name="keyword">
                            <button type="button" onclick="SubmitSearch()">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <nav class="nav nav-underline float-right">
                            <a class="nav-link p-0 m-0 mr-2" href="lien-he.html"><i class="fas fa-envelope"></i> <span class="d-none d-sm-block float-right ml-2">Liên Hệ</span></a>
                            <a class="nav-link p-0 m-0 mr-2" href="/rss"><i class="fas fa-rss-square"></i> <span class="d-none d-sm-block float-right ml-2">Rss</span></a>
                            <a class="nav-link p-0 m-0 mr-2" href="/api"><i class="fas fa-code"></i> <span class="d-none d-sm-block float-right ml-2">Api</span></a>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="section-slideshow">
       @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialSlideshows", new API.Areas.Admin.Models.Banners.BannersModel() { ListItems = ListBanners })
    </section>
    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialMenu" />
    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialCatMobile" />

    <div class="container-wapper" id="wapper_@ControllerName@ActionName">
        
        <div class="container-page bg-white">
            @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialKhauHieu", ItemConfig)
            @RenderBody()
        </div>

    </div>

    @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialFooter", ItemConfig)

    <script src="~/lib/js/bootstrap.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/popper.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/stellarnav/js/stellarnav.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/jquery.easing.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/lib/js/jquery.marquee.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script src="~/js/site.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["RecaptchaSettings:SiteKey"]"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <script>

        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["RecaptchaSettings:SiteKey"]', { action: 'submit' }).then(function (token) {
                $("#token_recaptcha").val(token);
            });
        });

    </script>

    <script>
        jQuery('.stellarnav').stellarNav({

            breakpoint: 991,
            position: 'right',
            phoneBtn: '@ItemCoQuan.Telephone',
            closeLabel: 'Đóng'
        });

        $('#RedirectLink').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });
        $('#RedirectLinkXa').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });

        $('.marquee').marquee({
            speed: 100,
            gap: 500,
            direction: 'left',
            duplicated: true,
            pauseOnHover: true
        });
        $('#marquee_videos').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });
        $('#marquee_document_right').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });

        $(document).ready(function () {
            $('#incfont').click(function () {
                curSize = parseInt($('body').css('font-size')) + 2;
                if (curSize <= 20)
                    $('body').css('font-size', curSize);
            });
            $('#decfont').click(function () {
                curSize = parseInt($('body').css('font-size')) - 2;
                if (curSize >= 12)
                    $('body').css('font-size', curSize);
            });
        });

        function SubmitSearch() {
            $('form#search-top').submit();
        }

        jQuery(document).ready(function () {
            jQuery('#scrollToTop').fadeOut();
            jQuery(window).scroll(function () {
                if (jQuery(window).scrollTop() != 0) {
                    jQuery('#scrollToTop').fadeIn();
                } else {
                    jQuery('#scrollToTop').fadeOut();
                }
            });
            jQuery('#scrollToTop').click(function () {
                jQuery('html, body').animate({ scrollTop: 0 }, 500);
            });
        });


        $("#body-scroll-nav").mCustomScrollbar({
            axis: "x",
            setWidth: false,
            alwaysShowScrollbar: 2,
            theme: 'dark-3'

        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
