@using API.Areas.Admin.Models.Menus;
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    int ParentId = int.Parse(Context.Session.GetString("ParentId").ToString());
    DMCoQuan ItemCoQuan = JsonConvert.DeserializeObject<DMCoQuan>(Context.Session.GetString("ThongTinCoQuan"));
    string KeySession = "Menu_" + IdCoQuan.ToString() + "-" + ParentId.ToString() + DateTime.Now.ToString("yyyyMMddhh");
    string StrListMenu = Context.Session.GetString(KeySession);
    List<Menus> ListMenu = new List<Menus>();
    List<TypeShow> ListTypeShow = MenusService.GetListItemsTypeShow();
    if(StrListMenu!=null && StrListMenu != "" && ItemCoQuan.MetadataCV.FlagSession==1)
    {
        ListMenu = JsonConvert.DeserializeObject<List<Menus>>(StrListMenu);
    }
    else
    {
        ListMenu = MenusService.GetListByParrent(0, IdCoQuan,0, ParentId);
        if (ItemCoQuan.MetadataCV.FlagSession == 1)
        {
            Context.Session.SetString(KeySession,JsonConvert.SerializeObject(ListMenu));
        }

    }
    string clsShow = "d-none";

}
<nav id="main-nav">
    <div class="container-page p-0">
        <div class="stellarnav">
            <ul class="text-left">
                <li id="menu-chil-home">
                    <a href="/" class="text-uppercase font-weight-bold "><i class="fas fa-home"></i></a>
                </li>
                @for (int i = 0; i < ListMenu.Count(); i++)
                {
                    
                    if (ListMenu[i].ChildCount > 0)
                    {
                        @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialMenuChild", ListMenu[i])
                        ;
                    }
                    else
                    {
                        @for (int cl = 0; cl<ListTypeShow.Count; cl++)
                        {
                            if (ListMenu[i].TypeShowId == ListTypeShow[cl].Id)
                            {
                                clsShow = ListTypeShow[cl].Code;
                            }
                        }
                        <li class="@clsShow">
                            @if (ListMenu[i].Icon != null && ListMenu[i].Icon != "")
                            {
                                <i class="@(ListMenu[i].Icon)"></i>
                            }
                            <a href="@ListMenu[i].Link" class="text-uppercase font-weight-bold" data-id="@ListMenu[i].Id">@Html.Raw(ListMenu[i].Title)</a>
                        </li>
                    }

                }
            </ul>
        </div>
    </div>
</nav>