@model API.Areas.Admin.Models.DMPhongBan.DMPhongBanModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý Danh mục";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        
        <h4><i class="fas fa-table"></i> @ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="Index" method="get" id="MySearchForm">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-row align-items-center">
                        
                        <div class="col-auto">
                            <div class="form-group">
                                <select onchange="MySearchForm()" asp-for="SearchData.IdType" name="IdType" class="form-control" asp-items="Model.ListItemsDanhMuc"></select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
        
        <div class="row">            
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th width="90px">Avatar</th>
                            <th class="text-info" >Tên  </th>                             
                            <th class="text-info" >Loại  </th>                             
                            <th class="text-info" >Thông tin  </th>                             
                            <th width="150px" class="text-center text-info" data-toggle="tooltip" data-placement="top" title="Trạng thái Hiện/Ẩn">Trạng Thái </th>                            
                            <th width="130px" class="btn-contain">
                                <a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-IdType="@Model.SearchData.IdType" asp-route-IdCoQuan="@Model.SearchData.IdCoQuan" class="btn btn-primary">THÊM MỚI</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="7" class="text-center">
                                    
                                    <label>Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                                <tr>
                                    <td width="50px" class="text-center">@Model.ListItems[i].Ordering</td>
                                    <td>
                                        @if (Model.ListItems[i].Images != null && Model.ListItems[i].Images != "")
                                        {
                                            <img src="@Model.ListItems[i].Images" style="width: 70px" />
                                        }
                                        else
                                        {
                                            <img src="@("/images/no-avatar_pb.png?v="+DateTime.Now.ToString("ddMMyyyyy"))" style="width: 70px" />
                                        }
                                    </td>
                                    <td>@Model.ListItems[i].Title</td>                                   
                                    <td>@Model.ListItems[i].TypeTitle</td>                                   
                                    <td>@Model.ListItems[i].Address
                                        <br />@Model.ListItems[i].Telephone
                                    </td>                                   
                                    <td class="text-center">
                                        @if (@Model.ListItems[i].Status)
                                        {
                                            <span onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)"  class="fas fa-check-circle text-primary" aria-hidden="true"></span>
                                        }
                                        else
                                        {
                                            <span onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></span>
                                        }
                                    </td>
                                    
                                    <td>
                                        <ul class="list-inline action">
                                            <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                            <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">                    
                    @await Html.PartialAsync("_PartialPagination",Model.Pagination)
            </div>
        </div>
    </div>
</div>

