@model API.Models.Home.PartialListCatFeaturedHome;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject IViewLocalizer Localizer
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    int ParentId = int.Parse(Context.Session.GetString("ParentId").ToString());
    string DomainFolderUpload = Context.Session.GetString("DomainFolderUpload").ToString();
    List<API.Areas.Admin.Models.CategoriesArticles.CategoriesArticles> ListCatFeaturedHome = Model.ListCatFeaturedHome;
    List<API.Areas.Admin.Models.Articles.Articles> ListArticleByCat = new List<API.Areas.Admin.Models.Articles.Articles>();
    List<API.Areas.Admin.Models.Banners.Banners> ListBanners = API.Areas.Admin.Models.Banners.BannersService.GetList(IdCoQuan, ParentId, DomainFolderUpload);
    List<API.Areas.Admin.Models.Videos.Videos> ListItemVideos = API.Areas.Admin.Models.Videos.VideosService.GetListFeatured(IdCoQuan);
    List<SelectListItem> listLink = API.Areas.Admin.Models.Banners.BannersService.GetListItemsByCat(2, IdCoQuan);
    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

    int countBanner3 = 0;
    if (Model.ListBanners != null && Model.ListBanners.Count() > 0)
    {
        @for (int i = 0; i < Model.ListBanners.Count(); i++)
        {
            if (Model.ListBanners[i].CatId == 3)
            {
                countBanner3 = countBanner3 + 1;
            }
        }
    }

}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
        @if (ListCatFeaturedHome != null && ListCatFeaturedHome.Count() > 0)
        {
            @for (int i = 0; i < ListCatFeaturedHome.Count(); i++)
            {
                if (countBanner3 > 0)
                {
                    <section id="banner-home-top" class="">
                        @if (ListCatFeaturedHome[i].Id == ItemCoQuan.PositionBannerHome)
                        {
                            if (Model.ListBanners != null && Model.ListBanners.Count() > 0)
                            {
                                @for (int bn = 0; bn < Model.ListBanners.Count(); bn++)
                                {
                                    if (Model.ListBanners[bn].CatId == 3)
                                    {
                                        <div class="baner-home-item mb-2 @(bn == 0 ? "active" : "")">
                                            <img src="@Model.ListBanners[bn].Image" alt="@Model.ListBanners[bn].Title" class="d-block w-100">
                                        </div>
                                    }
                                }
                            }
                        }
                    </section>

                }



                ListArticleByCat = null;
                if (ListCatFeaturedHome[i].ParentId == 0)
                {
                    ListArticleByCat = API.Areas.Admin.Models.Articles.ArticlesService.GetListNew(ListCatFeaturedHome[i].Id, 5, IdCoQuan);
                    <div class="category-list">
                        <div class="card border-0 cat-item">
                            <div class="card-header">
                                <ul class="list-inline">
                                    <li>
                                        <div class="category-list-title">
                                            <a class="text-uppercase font-weight-bold float-left" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[i].Id" asp-route-alias="@ListCatFeaturedHome[i].Alias">
                                                @if (ListCatFeaturedHome[i].Icon != null && ListCatFeaturedHome[i].Icon != "")
                                                {
                                                    <span class="category-list-title-icon">@Html.Raw(ListCatFeaturedHome[i].Icon)</span>
                                                }
                                                <span class="pl-2">@ListCatFeaturedHome[i].Title</span>
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </a>
                                            <nav class="nav nav-underline float-left ">
                                                @for (int j = 0; j < ListCatFeaturedHome.Count(); j++)
                                                {
                                                    if (ListCatFeaturedHome[j].ParentId == ListCatFeaturedHome[i].Id)
                                                    {
                                                        <a class="nav-link" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[j].Id" asp-route-alias="@ListCatFeaturedHome[j].Alias">@ListCatFeaturedHome[j].Title</a>
                                                    }
                                                }
                                            </nav>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-body py-1 px-0">
                                <div class="row">
                                    @if (ListArticleByCat != null && ListArticleByCat.Count() > 0)
                                    {


                                        <div class="col-md-7 col-12">
                                            <div class="first-article-item">
                                                <a class="img" asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                    @if (@ListArticleByCat[0].Images == null || @ListArticleByCat[0].Images == "" || ListArticleByCat[0].Images.ToLower() == "/cms/content/tintuc/")
                                                    {
                                                        <img src="~/images/no-image.png" style="width:180px;height:120px;">
                                                    }
                                                    else
                                                    {
                                                        <img src="@ListArticleByCat[0].Images" style="width:180px;height:120px;">
                                                    }
                                                </a>
                                                <div class="first-article-body">
                                                    <p class="text-justify m-0 title">
                                                        <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                            @ListArticleByCat[0].Title
                                                        </a>
                                                    </p>
                                                    <p class="text-justify cat-desc">
                                                        @Html.Raw(API.Models.MyHelper.StringHelper.StringReadmore(@ListArticleByCat[0].IntroText, 200))
                                                    </p>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-5 col-12">
                                            <ul class="list-unstyled pt-2 sub-article-list">
                                                @if (ListArticleByCat != null && ListArticleByCat.Count() > 1)
                                                {
                                                    @for (int m = 1; m < ListArticleByCat.Count(); m++)
                                                    {
                                                        <li>
                                                            <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[m].Id" asp-route-alias="@ListArticleByCat[m].Alias" title="@ListArticleByCat[m].Title">
                                                                <i class="fas fa-dot-circle pr-2"></i>@ListArticleByCat[m].Title
                                                            </a>
                                                            <span class="date">(@ListArticleByCat[m].PublishUpShow)</span>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>
                }



            }
        }
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pl-md-0">
        <!---------Banner Right Bottom ---------->
        @if (ListBanners != null && ListBanners.Count() > 0)
        {
            @for (int i = 0; i < ListBanners.Count(); i++)
            {
                if (ListBanners[i].CatId == 5)
                {
                    <div class="banner-item">
                        <a href="@ListBanners[i].Link" target="@ListBanners[i].Target">
                            <img src="@ListBanners[i].Image" class="d-block w-100" title="@ListBanners[i].Title" />
                        </a>
                    </div>
                }

            }
        }

        <div class="card border-0 card-style-one">
            <div class="card-header rounded-0">
                @Localizer["Video"]
            </div>
            <div class="card-body pl-0 pt-1 pb-0 pr-0 mb-2">
                <div id="myCarouselVideo" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" role="listbox">
                        @if (ListItemVideos != null && ListItemVideos.Count() > 0)
                        {
                            <div class="carousel-item active">
                                @if (ListItemVideos[0].IdType == 1)
                                {
                                    <iframe style="width:100%" src="@("https://www.youtube.com/embed/"+@ListItemVideos[0].Link)" title="@ListItemVideos[0].Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                }
                                else if (ListItemVideos[0].IdType == 2)
                                {
                                    <iframe style="width:100%;" src="@ListItemVideos[0].Link" title="@ListItemVideos[0].Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                }
                                else
                                {
                                    <video style="width:100%" controls="" class="video-item">
                                        <source src="@ListItemVideos[0].LinkSv" type="video/mp4">
                                    </video>
                                }
                            </div>

                        }
                        else
                        {
                            <div class="item  active">
                                <video style="width:100%" controls class="video-item">
                                    <source src="/CMS/Content/videos/chi-can-nu-cuoi.mp4" type="video/mp4">
                                </video>
                            </div>
                        }


                    </div>
                </div>
                <ul class="ml-2 mb-0 pl-1 pb-2">
                    @if (ListItemVideos.Count > 1)
                    {
                        for (int i = 1; i < ListItemVideos.Count(); i++)
                        {
                            <li class="pt-1"><a asp-controller="Videos" asp-action="Detail" asp-route-id="@ListItemVideos[i].Id">@ListItemVideos[i].Title</a></li>
                        }
                    }

                </ul>
            </div>
        </div>


        <!---------Banner Right Bottom ---------->
        @if (ListBanners != null && ListBanners.Count() > 0)
        {
            @for (int i = 0; i < ListBanners.Count(); i++)
            {
                if (ListBanners[i].CatId == 6)
                {
                    <div class="banner-item">
                        <a href="@ListBanners[i].Link" target="@ListBanners[i].Target">
                            <img src="@ListBanners[i].Image" class="d-block w-100" title="@ListBanners[i].Title" />
                        </a>
                    </div>
                }

            }
        }

        @if (ListBanners != null && ListBanners.Count() > 0)
        {
            @for (int i = 0; i < ListBanners.Count(); i++)
            {
                if (ListBanners[i].CatId == 7)
                {
                    <div class="banner-item">
                        <a href="@ListBanners[i].Link" target="@ListBanners[i].Target">
                            <img src="@ListBanners[i].Image" class="d-block w-100" title="@ListBanners[i].Title" />
                        </a>
                    </div>
                }

            }
        }

        <div class="card border-0 card-style-one mb-2" id="link-website">
            <div class="card-header rounded-0">
                @Localizer["LinkWebsite"]
            </div>
            <div class="card-body pl-0 pr-0">
                <select name="RedirectLink" id="RedirectLink" class="form-control rounded-0" asp-items="listLink"></select>
            </div>
        </div>

        <partial name="_PartialSiteVisit" />

        @await Html.PartialAsync("_PartialThongTinCanThiet", ItemCoQuan)
        <!---------Banner Right Bottom ---------->
        @if (ListBanners != null && ListBanners.Count() > 0)
        {
            @for (int i = 0; i < ListBanners.Count(); i++)
            {
                if (ListBanners[i].CatId == 8)
                {
                    <div class="banner-item">
                        <a href="@ListBanners[i].Link" target="@ListBanners[i].Target">
                            <img src="@ListBanners[i].Image" class="d-block w-100" title="@ListBanners[i].Title" />
                        </a>
                    </div>
                }

            }
        }

        @await Html.PartialAsync("_PartialThongKeHoSo", ItemCoQuan)
        @await Html.PartialAsync("_PartialVanBanDienTu", ItemCoQuan)

        <div class="cmg-two">
            <div class="partial-lien-ket-tin-tuc-card">
                <div class="partial-lien-ket-tin-tuc-title">
                    <a><i class="far fa-newspaper"></i> @Localizer["NewsOfEdu"]</a>
                </div>
                <div class="partial-lien-ket-tin-tuc-body">
                    <div class="partial-lien-ket-tin-tuc-content" id="site-bgd">

                    </div>
                </div>
            </div>

        </div>
        <div class="cmg-two">
            <div class="partial-lien-ket-tin-tuc-card">
                <div class="partial-lien-ket-tin-tuc-title">
                    <a><i class="fas fa-bullhorn"></i> @Localizer["NoticeOfEdu"]</a>
                </div>
                <div class="partial-lien-ket-tin-tuc-body">
                    <div class="partial-lien-ket-tin-tuc-content" id="site-sgd">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>