@model API.Areas.Admin.Models.Menus.Menus;
<li>
    <a class="text-uppercase font-weight-bold" href="@Model.Link">@(Model.Title)</a>
    <ul>
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
            if (Model.ListMenus[i].Link != null)
            {
                <li><a class=" " href="@(Model.ListMenus[i].Link)"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
            }
            else if (Model.ListMenus[i].ArticleId != 0)
            {
                <li><a class="t " href="/gioi-thieu.html"> <i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
            }
            else
            {
                <li><a class="" href="#"><i class="@(Model.ListMenus[i].Icon)"></i>@(Model.ListMenus[i].Title)</a></li>
            }
        }
    </ul>
</li>

