@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    int ParentId = int.Parse(Context.Session.GetString("ParentId").ToString());
    string DomainFolderUpload = Context.Session.GetString("DomainFolderUpload").ToString();
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    //List<SelectListItem> listLink = API.Areas.Admin.Models.Banners.BannersService.GetListItemsByCat(2, IdCoQuan);
    //List<API.Areas.Admin.Models.Videos.Videos> ListItemVideos = API.Areas.Admin.Models.Videos.VideosService.GetListFeatured(IdCoQuan);

    //List<API.Areas.Admin.Models.Articles.Articles> NotificationList = API.Areas.Admin.Models.Articles.ArticlesService.GetListNotification(IdCoQuan);

    List<API.Areas.Admin.Models.Banners.Banners> ListBanners = API.Areas.Admin.Models.Banners.BannersService.GetList(IdCoQuan, ParentId, DomainFolderUpload, CultureInfo.CurrentCulture.Name.ToLower());
    DMCoQuan ItemCoQuan = JsonConvert.DeserializeObject<DMCoQuan>(Context.Session.GetString("ThongTinCoQuan"));
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome(ItemCoQuan,Context);
    
    string linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainFolderUpload") + ".css";
    if (Context.Session.GetString("DomainCssName") != null && Context.Session.GetString("DomainCssName") != "")
    {
        linkCss = "/Templates/" + Context.Session.GetString("TemplateName") + "/css/" + Context.Session.GetString("DomainCssName");
    }

    
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_PartialSEO", ItemConfig)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/fonts.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="@linkCss" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    @Html.Raw(ItemCoQuan.DataHeader)
</head>
<body id="main-one" class="theme-ehl">

    <div class="page-home">
        <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialHeaderTop" />
        <section id="section-slideshow">
            @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialSlideshows", new API.Areas.Admin.Models.Banners.BannersModel() { ListItems = ListBanners })
        </section>
        <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialMenu" />
        <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialCatMobile" />
        <div class="container bg-white">

            @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialKhauHieu", ItemConfig)

            @RenderBody()
        </div>

    </div>



    @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialMenuFooter", ItemConfig)
    @await Html.PartialAsync("Templates/" + @Context.Session.GetString("TemplateName") + "/_PartialFooter", ItemConfig)
    <script src="~/lib/js/bootstrap.min.js"></script>
    
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/stellarnav/js/stellarnav.min.js"></script>
    <script src="~/lib/js/jquery.easing.js"></script>
    <script src="~/lib/js/jquery.marquee.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    
    <script type="text/javascript">
        jQuery('.stellarnav').stellarNav({

            breakpoint: 991,
            position: 'right',
            phoneBtn:  '@ItemCoQuan.Telephone',
            closeLabel: 'Đóng'
        });
    </script>
    <script>
        $('#RedirectLink').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });

        $('.marquee').marquee({
            speed: @ItemCoQuan.MetadataCV.MarqueeSpeed,
            gap: @ItemCoQuan.MetadataCV.MarqueeGap,
            direction: '@ItemCoQuan.MetadataCV.MarqueeDirection',
            duplicated: true,
            pauseOnHover: true
        });

        $('#marquee_document_right').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });

        $(document).ready(function () {
            $('#incfont').click(function () {
                curSize = parseInt($('body').css('font-size')) + 2;
                if (curSize <= 20)
                    $('body').css('font-size', curSize);
            });
            $('#decfont').click(function () {
                curSize = parseInt($('body').css('font-size')) - 2;
                if (curSize >= 12)
                    $('body').css('font-size', curSize);
            });
        });

        function SubmitSearch() {
            $('form#search-top').submit();
        }

        jQuery(document).ready(function () {
            jQuery('#scrollToTop').fadeOut();
            jQuery(window).scroll(function () {
                if (jQuery(window).scrollTop() != 0) {
                    jQuery('#scrollToTop').fadeIn();
                } else {
                    jQuery('#scrollToTop').fadeOut();
                }
            });
            jQuery('#scrollToTop').click(function () {
                jQuery('html, body').animate({ scrollTop: 0 }, 500);
            });
        });

        $("#wrap-scroll-nav").mCustomScrollbar({
            axis: "x",
            setWidth: false,
            alwaysShowScrollbar: 2,

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
