@model API.Areas.Admin.Models.Banners.BannersModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    int indicators = 0;
    int carousel = 0;

    string str = "active";
    string str_2 = "active";
    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

    List<API.Areas.Admin.Models.Banners.Banners> ListSlideshow = new List<API.Areas.Admin.Models.Banners.Banners>();
    if (Model.ListItems != null && Model.ListItems.Count() > 0)
    {
        foreach (API.Areas.Admin.Models.Banners.Banners item in Model.ListItems)
        {
            if (item.CatId == 1)
            {
                ListSlideshow.Add(item);
            }
        }
    }
}

@if (ListSlideshow != null && ListSlideshow.Count() > 0)
{
<div id="block-slideshow">


    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        @if (ListSlideshow.Count() > 1)
        {
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.ListItems.Count(); i++)
                {
                    if (Model.ListItems[i].CatId == 1)
                    {
                        indicators = indicators + 1;
                        @if (indicators > 1) { str_2 = ""; }
                        <li data-target="#carousel-example-generic" data-slide-to="@indicators" class="@str_2"></li>

                    }

                }
            </ol>
        }
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.ListItems.Count(); i++)
                {

                    if (Model.ListItems[i].CatId == 1)
                    {
                        carousel = carousel + 1;
            @if (carousel > 1) { str = ""; }
            <div class="carousel-item  @str" style="background: url('@Model.ListItems[i].Image') no-repeat; background-size: 100% 100%;">
                <a href="@Model.ListItems[i].Link">

                    <div class="container">
                                    <img src="/uploads/@ItemCoQuan.FolderUpload/banners/logo-top.png@("?v="+DateTime.Now.ToString("yyyyMMddhh"))" alt="@Model.ListItems[i].Title" />
                    </div>
                </a>
            </div>

                    }

                }
        </div>

    </div>
</div>
}