@model API.Models.Home.PartialNewFeatured;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    List<API.Areas.Admin.Models.Articles.Articles> ListArticlesHot = API.Areas.Admin.Models.Articles.ArticlesService.GetListHot(IdCoQuan, CultureInfo.CurrentCulture.Name.ToLower());
    List<API.Areas.Admin.Models.Articles.Articles> NotificationList = API.Areas.Admin.Models.Articles.ArticlesService.GetListNotification(IdCoQuan, CultureInfo.CurrentCulture.Name.ToLower());
    

   
}

<div class="row">
    <div class="col-features-left">
        <section id="features-wrap">
            <div class="card card-style-two border-0 features-header">
                <h4 class="featured-news-home">
                    <a class="text-uppercase font-weight-bold" asp-controller="Articles" asp-action="Featured">@Localizer["HotNews"] </a>                    
                </h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @if (ListArticlesHot != null && ListArticlesHot.Count() > 0)
                            {
                                @for (int i = 0; i < ListArticlesHot.Count(); i++)
                                {

                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <div class="features-item">
                                            <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticlesHot[i].Id" asp-route-alias="@ListArticlesHot[i].Alias" title="@ListArticlesHot[i].Title">
                                                <img src="@ListArticlesHot[i].Images" class="d-block w-100"/>
                                            </a>
                                            <div class="features-item-body">
                                                <h1 class="title">
                                                    <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticlesHot[i].Id" asp-route-alias="@ListArticlesHot[i].Alias" title="@ListArticlesHot[i].Title">
                                                        @ListArticlesHot[i].Title
                                                    </a>
                                                </h1>
                                                <p class="overview">
                                                    @Html.Raw(API.Models.MyHelper.StringHelper.StringReadmore(ListArticlesHot[i].IntroText, 200))
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                    </div>
                </div>
                
            </div>
        </section>



        
    </div>

    <div class="col-features-right">
        <div class="card card-style-two border-0 " id="featured-document">
            <div class="card-header">
                <h3>
                    <a asp-controller="Articles" asp-action="Notification"><i class="fas fa-folder-open"></i> @Localizer["Notification"]</a>
                </h3>
            </div>
            <div class="card-body">
                <div id="marquee_document_right" >
                    <ul>
                        @if (NotificationList != null && NotificationList.Count() > 0)
                        {


                            @for (int i = 0; i < NotificationList.Count(); i++)
                            {
                                <li class="mb-2">
                                    <a asp-controller="Articles" asp-action="Detail" asp-route-id="@NotificationList[i].Id" asp-route-alias="@NotificationList[i].Alias" title="@NotificationList[i].Title">
                                        @NotificationList[i].Title
                                        <span>(@NotificationList[i].PublishUp.ToString("dd/MM/yyy, HH:mm"))</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            

        </div>
    </div>


</div>


