@model API.Models.Home.PartialListCatFeaturedHome;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    List<API.Areas.Admin.Models.CategoriesArticles.CategoriesArticles> ListCatFeaturedHome = Model.ListCatFeaturedHome;
    List<API.Areas.Admin.Models.Articles.Articles> ListArticleByCat = new List<API.Areas.Admin.Models.Articles.Articles>();

    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

    int countBanner3 = 0;
    if (Model.ListBanners != null && Model.ListBanners.Count() > 0)
    {
        @for (int i = 0; i < Model.ListBanners.Count(); i++)
        {
            if (Model.ListBanners[i].CatId == 3)
            {
                countBanner3 = countBanner3 + 1;
            }
        }
    }

}
@if (ItemCoQuan.ParentId == 6 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongHuyenCukuin" />
}
else if (ItemCoQuan.ParentId == 2 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongHuyenCumgar" />
}
else if (ItemCoQuan.ParentId == 4 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongTPBMT" />
}
else if (ItemCoQuan.ParentId == 10 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongHuyenEahleo" />
}
else if (ItemCoQuan.ParentId == 13 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongHuyenKrongNang" />
}
else if (ItemCoQuan.ParentId == 14 && Configuration["Security:SiteCode"] == "DLK")
{
    <partial name="Templates/_PartialLienThongHuyenKrongPac" />
}

@if (ListCatFeaturedHome != null && ListCatFeaturedHome.Count() > 0)
{
    @for (int i = 0; i < ListCatFeaturedHome.Count(); i++)
    {
        if (countBanner3 > 0)
        {
            <section id="banner-home-top" class="">
                @if (ListCatFeaturedHome[i].Id == ItemCoQuan.PositionBannerHome)
                {
                    if (Model.ListBanners != null && Model.ListBanners.Count() > 0)
                    {
                        @for (int bn = 0; bn < Model.ListBanners.Count(); bn++)
                        {
                            if (Model.ListBanners[bn].CatId == 3)
                            {
                                <div class="baner-home-item mb-2 @(bn == 0 ? "active" : "")">
                                    <img src="@Model.ListBanners[bn].Image" alt="@Model.ListBanners[bn].Title" class="d-block w-100">
                                </div>
                            }
                        }
                    }
                }
            </section>

        }



@*         ListArticleByCat = null; *@
        if (ListCatFeaturedHome[i].ParentId == 0)
        {
            ListArticleByCat = API.Areas.Admin.Models.Articles.ArticlesService.GetListNew(ListCatFeaturedHome[i].Id, 4, IdCoQuan, System.Globalization.CultureInfo.CurrentCulture.Name.ToLower());
            @if (ListCatFeaturedHome[i].Layout == false)
            {
                <div class="category-list">
                    <div class="card border-0 cat-item">
                        <div class="card-header">
                            <ul class="list-inline">
                                <li>
                                    <div class="category-list-title">
                                        <a class="text-uppercase font-weight-bold float-left" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[i].Id" asp-route-alias="@ListCatFeaturedHome[i].Alias">
                                            @if (ListCatFeaturedHome[i].Icon != null && ListCatFeaturedHome[i].Icon != "")
                                            {
                                                <span class="category-list-title-icon">@Html.Raw(ListCatFeaturedHome[i].Icon)</span>
                                            }
                                            <span>@ListCatFeaturedHome[i].Title</span>
                                            @* <i class="fa fa-caret-right" aria-hidden="true"></i> *@
                                        </a>
                                        <nav class="nav nav-underline float-left ">
                                            @for (int j = 0; j < ListCatFeaturedHome.Count(); j++)
                                            {
                                                if (ListCatFeaturedHome[j].ParentId == ListCatFeaturedHome[i].Id)
                                                {
                                                    <a class="nav-link" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[j].Id" asp-route-alias="@ListCatFeaturedHome[j].Alias">@ListCatFeaturedHome[j].Title</a>
                                                }
                                            }
                                        </nav>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body py-1 px-0">
                            <div class="row">
                                @if (ListArticleByCat != null && ListArticleByCat.Count() > 0)
                                {
                                    <div class="col-md-7 col-12">
                                        <div class="first-article-item">
                                            <a class="img" asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                @if (@ListArticleByCat[0].Images == null || @ListArticleByCat[0].Images == "" || ListArticleByCat[0].Images.ToLower() == "/cms/content/tintuc/")
                                                {
                                                    <img src="~/images/no-image.png" style="width:180px;height:120px;">
                                                }
                                                else
                                                {
                                                    <img src="@ListArticleByCat[0].Images" style="width:180px;height:120px;">
                                                }
                                            </a>
                                            <div class="first-article-body">
                                                <p class="m-0 title">
                                                    <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                        @ListArticleByCat[0].Title
                                                    </a>
                                                </p>
                                                <p class="cat-desc">
                                                    @API.Models.MyHelper.StringHelper.StringReadmore(ListArticleByCat[0].IntroText, 200)
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-5 col-12">
                                        <ul class="list-unstyled pt-2 sub-article-list">
                                            @if (ListArticleByCat != null && ListArticleByCat.Count() > 1)
                                            {
                                                @for (int m = 1; m < ListArticleByCat.Count(); m++)
                                                {
                                                    <li>
                                                        <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[m].Id" asp-route-alias="@ListArticleByCat[m].Alias" title="@ListArticleByCat[m].Title">
                                                            <i class="fas fa-dot-circle pr-2"></i>@ListArticleByCat[m].Title
                                                        </a>
                                                        <span class="date">(@ListArticleByCat[m].PublishUpShow)</span>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="category-list-2">
                    <div class="card border-0 cat-item">
                        <div class="card-header">
                            <ul class="list-inline">
                                <li>
                                    <div class="category-list-title">
                                        <a class="text-uppercase font-weight-bold float-left" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[i].Id" asp-route-alias="@ListCatFeaturedHome[i].Alias">
                                            @if (ListCatFeaturedHome[i].Icon != null && ListCatFeaturedHome[i].Icon != "")
                                            {
                                                <span class="category-list-title-icon">@Html.Raw(ListCatFeaturedHome[i].Icon)</span>
                                            }
                                            <span>@ListCatFeaturedHome[i].Title</span>
                                            @* <i class="fa fa-caret-right" aria-hidden="true"></i> *@
                                        </a>
                                        <nav class="nav nav-underline float-left ">
                                            @for (int j = 0; j < ListCatFeaturedHome.Count(); j++)
                                            {
                                                if (ListCatFeaturedHome[j].ParentId == ListCatFeaturedHome[i].Id)
                                                {
                                                    <a class="nav-link" asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[j].Id" asp-route-alias="@ListCatFeaturedHome[j].Alias">@ListCatFeaturedHome[j].Title</a>
                                                }
                                            }
                                        </nav>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body py-1 px-0">
                            <div class="row">
                                @if (ListArticleByCat != null && ListArticleByCat.Count() > 0)
                                {
                                    <div class="col-md-4 col-12">
                                        <div class="first-article-item-2">
                                            <a class="img" asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                @if (@ListArticleByCat[0].Images == null || @ListArticleByCat[0].Images == "" || ListArticleByCat[0].Images.ToLower() == "/cms/content/tintuc/")
                                                {
                                                    <img src="~/images/no-image.png" style="width:100%;">
                                                }
                                                else
                                                {
                                                    <img src="@ListArticleByCat[0].Images" style="width:100%">
                                                }
                                            </a>
                                            <div class="first-article-body">
                                                <p class="m-0 title">
                                                    <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[0].Id" asp-route-alias="@ListArticleByCat[0].Alias" title="@ListArticleByCat[0].Title">
                                                        @ListArticleByCat[0].Title
                                                    </a>
                                                </p>
                                                <p class="cat-desc">
                                                    @API.Models.MyHelper.StringHelper.StringReadmore(ListArticleByCat[0].IntroText, 200)
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-8 col-12">
                                        <ul class="list-unstyled sub-article-list">
                                            <div class="row">
                                                @if (ListArticleByCat != null && ListArticleByCat.Count() > 1)
                                                {
                                                    @for (int m = 1; m < ListArticleByCat.Count(); m++)
                                                    {
                                                        <div class="col-md-6 col-12">
                                                    <li>
                                                        <div class="second-article-item">
                                                            <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[m].Id" asp-route-alias="@ListArticleByCat[m].Alias" title="@ListArticleByCat[m].Title">
                                                                        @* <i class="fas fa-dot-circle pr-2"></i> *@
                                                                        @if (@ListArticleByCat[m].Images == null || @ListArticleByCat[m].Images == "" || ListArticleByCat[m].Images.ToLower() == "/cms/content/tintuc/")
                                                                        {
                                                                    <img src="~/images/no-image.png" style="width:100%;">
                                                                        }
                                                                        else
                                                                        {
                                                                    <img src="@ListArticleByCat[m].Images" style="width:100%">
                                                                        }
                                                                        @* @ListArticleByCat[m].Title *@
                                                            </a>
                                                                    @* <span class="date">(@ListArticleByCat[m].PublishUpShow)</span> *@
                                                            <div class="second-article-body">
                                                                <p class="m-0 title">
                                                                    <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticleByCat[m].Id" asp-route-alias="@ListArticleByCat[m].Alias" title="@ListArticleByCat[m].Title">
                                                                                @ListArticleByCat[m].Title
                                                                    </a>
                                                                </p>
                                                                <p class="cat-desc">
                                                                            @API.Models.MyHelper.StringHelper.StringReadmore(ListArticleByCat[0].IntroText, 200)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                            </div>
                                                    }
                                                }
                                </div>
                                </ul>
                            </div>
                                }
                    </div>

                </div>
                                                </div>

                                            </div>
            }
        }



    }
}